@font-face {
  font-family: blackNorth;
  src: url(fonts/Blacknorthdemo-mLE25.otf);
}

@font-face {
  font-family: spookyHallow;
  src: url(fonts/SpookyHollow-z84pX.ttf);
}

@font-face {
  font-family: raillyRegular;
  src: url(fonts/RaillyRegular-axXra.otf);
}

@font-face {
  font-family: billyHatter;
  src: url(fonts/BillyHatterPesonalUseOnly-9Ydyy.otf);
}

.card-title {
  font-family: blackNorth;
}

 footer {
  font-family: spookyHallow;
}

.bg-danger {
  font-family: billyHatter;
}

.card-subtitle {
  font-size: 19px;
  font-family: raillyRegular;
}

.jumbotron h1 {
  font-size: 60px;
  text-shadow: 0px 0px 4px red;
}

.jumbotron h2 {
  text-decoration: underline;
}

.LIE {
  display: inline-block;
  rotate: 180deg;
  font-variant: small-caps;
}

.TRUTH {
  text-transform: lowercase;
  font-variant: small-caps;
  margin-top: 5px;
}