@font-face {
  font-family: blackNorth;
  src: url(fonts/Blacknorthdemo-mLE25.otf);
}

@font-face {
  font-family: spookyHallow;
  src: url(fonts/SpookyHollow-z84pX.ttf);
}

@font-face {
  font-family: raillyRegular;
  src: url(fonts/RaillyRegular-axXra.otf);
}

@font-face {
  font-family: billyHatter;
  src: url(fonts/BillyHatterPesonalUseOnly-9Ydyy.otf);
}

.card-title {
  font-family: blackNorth;
}

 footer {
  font-family: spookyHallow;
}

.bg-danger {
  font-family: billyHatter;
}

.card-subtitle {
  font-size: 19px;
  font-family: raillyRegular;
}